@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


/* Colors */

/*
60% of #2396dc - Primary
30% of #2339dc - Secondary
10% of #23dcc6 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #2396dc;

/* var(--secondaryColor) !important; */
--secondaryColor: #2339dc;

/* var(--accentColor) !important; */
--accentColor: #23dcc6;

/* var(--fontFamily) !important; */
--fontFamily: "Inter", serif;

}