/* Colors */

/*
60% of #2396dc - Primary
30% of #2339dc - Secondary
10% of #23dcc6 - Accent
*/

:root {

/* var(--primaryColor) !important; */
--primaryColor: #2396dc;

/* var(--secondaryColor) !important; */
--secondaryColor: #2339dc;

/* var(--accentColor) !important; */
--accentColor: #23dcc6;

}