@import 'global.css';
@import 'main.css';

p {
    font-family: var(--fontFamily) !important;
}

.blinn-fa-icon {
    font-size: 80px;
    color: #ffffff;
}

.blinn-fa-container {
    background-color: var(--secondaryColor) !important;
    padding: 60px;
}

.paragraph-one {
    position: relative;
    float: right;
}